/* animation.css progress bar */
.progress-container {
    
    display: flex;
    flex-direction: column; /* Align progress bar title above the bar */
    align-items: flex-start; /* Center align the progress bar title */
    min-width: 250px;
    box-sizing: border-box;
    padding-right: 10px;
  }
  
  .progress-title {
    margin-bottom: 10px;
    font-size: 1rem;
    width: 150px;
    text-align: left; /* Ensure the title is centered above the progress bar */
  }
  
  .progress {
    width: 90%; /* Initial width is 0, it will grow based on the progress */
    height: 12px; /* Height of the progress bar */
    background-color: #b25858; /* Light gray background for the progress bar */
    border-radius: 10px; /* Rounded corners */
    transition: width 0.4s ease-in-out; /* Smooth animation when progress changes */
    margin-left: 5px; /* Space between the small title and the progress bar */
    margin: 10px;
  }

  