.App {
  text-align: center;
}
.container{
  display:flex;
  
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}
.title {
  display: flex;
  align-items: center;
  gap: 60px;
}
.title-gif {
  width: 20%;
  height: auto;
}
button{
  margin: 10px 0;
  padding: 5px;

}

input[type="number"], select {
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}


/*container holld both tables*/
.tables-container {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-top: 20px;
}

.generated-table {
  width: 48%;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.result-table {
  width: 48%;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table, th, td{
  padding: 8px;
  border: 1px solid rgb(151, 41, 60);
  text-align: left;
}

th, td{
  padding: 8px;
  text-align: left;
}
th{
  background-color: #f2f2f2;
}

.chart-container {
  margin-top: 20px;
  text-align: center;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column; /*stacked vertically*/
}

/*Algorithm boxes*/
.algorithm-selection {
  margin-top: 20px;
}
.algorithm-checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.algorithm-box {
  display: flex;
  align-items: 10px;
}
