.App {
  text-align: center;
}
/*container holld both tables*/
.tables-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.generated-table {
  width: 48%;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.result-table {
  width: 48%;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table, th, td{
  border: 1px solid black;
}

th, td{
  padding: 8px;
  text-align: left;
}
th{
  background-color: #f2f2f2;
}